<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3f</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/viewMore.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/history.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/order.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/admin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/orderDetails.css" />
    
   
</head>
<body>
    <header>
        <div class="logo"><p>3F</p></div>
        <div class="title">
            <h4>FAST FOODS FAST</h4>
            <h5>3fs service gets you what you need, right when you need it
            </h5>
        </div>
        <div class="icons">
            <nav>
                <a href = "#">Home</a>
                <a href = "../../index.html">Logout</a>
                <div class="profile">

                </div>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <div class="content">
            <!--menu-->
            <div class="side-menu">
                <nav>
                        <a href="admin.html" >Food Items</a>
                    <a href="adminOrder.html" >View Orders</a>
                   
                    <!-- <a href="adminOrder.html">Orders</a> -->
                </nav>
            </div>
            <!--View Details model-->

            <div class="content-wrapper" id = "contents">

                    <div id="detail" class="modal">
  
                            <form class="modal-content animate">
                          
                              <div class="container">
                                           <h3>Details View</h3>
                                           <hr>
                                           <ol>
                                               <li id="order-id"></li>
                                               <li id="item-name"></li>
                                               <li id="quantity"></li>
                                               <li id="client-location"></li>
                                               <li id="time-stamp"></li>
                                               <li id="Status"></li>
                                               <li id="price"></li>
                                               <li id="username"></li>

                                                <li>
                                                   <a href = "#" >Remove From list</a>
                                                </li>                                               
                                           </ol>
                                 </div>
                
                            <div class="container">
                                    <button type="button" onclick="document.getElementById('detail').style.display='none'" class="cancelbtn">Back</button>
                                  </div>
                            </form>
                          </div>
                         

                </div>
                <!-- <script src="../static/js/order.js"></script>  -->
                <script src="../static/js/edit.js"></script>  
               
 
 

</body>
</html>