<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3f</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/viewMore.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/history.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/order.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/admin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/orderDetails.css" />
    
   
</head>
<body>
    <header>
        <div class="logo"><p>3F</p></div>
        <div class="title">
            <h4>FAST FOODS FAST</h4>
            <h5>3fs service gets you what you need, right when you need it
            </h5>
        </div>
        <div class="icons">
            <nav>
                <a href = "#">Home</a>
                <a href = "../../index.html">Logout</a>
                <div class="profile">

                </div>
            </nav>
        </div>
    </header>
    <div class="wrapper">

        <!--<div class="description">
            <h2>Lorem ipsum dolor sit amet</h2>
            <h5>Lorem ipsum dolor sit amet</h5>
            <ul>
                <li><i class = "fa fa-check"></i>Affordable Prices</li>
                <li><i class = "fa fa-check"></i>Enjoy Amazing Discounts</li>
                <li><i class = "fa fa-check"></i>Best services ever</li>
                <li><i class = "fa fa-check"></i>It is simple.... Just click<span>signup</span> <br>&nbsp;&nbsp;&nbsp;or simply<span>login </span> if already with us!</li>
            </ul>
        </div>-->

        <div class="content">
            <!--menu-->
            <div class="side-menu">
                <nav>
                        <a href="admin.html" >Food Items</a>
                    <a href="adminOrder.html" >View Orders</a>
                   
                    <a href="adminOrder.html">View Accepted Orders</a>
                </nav>
            </div>
            <!--View Details model-->

            <div class="content-wrapper" id = "content">

                    <div id="detail" class="modal">
  
                            <form class="modal-content animate">
                          
                              <div class="container">
                                           <h3>Details View</h3>
                                           <hr>
                                           <ol>
                                               <li id="order-id"></li>
                                               <li id="item-name"></li>
                                               <li id="quantity"></li>
                                               <li id="client-location"></li>
                                               <li id="time-stamp"></li>
                                               <li id="Status"></li>
                                               <li id="price"></li>
                                               <li id="username"></li>

                                                <li>
                                                   <a href = "#" >Remove From list</a>
                                                </li>                                               
                                           </ol>
                                 </div>
                
                            <div class="container">
                                    <button type="button" onclick="document.getElementById('detail').style.display='none'" class="cancelbtn">Back</button>
                                  </div>
                            </form>
                          </div>
                         

                    <!-- <table id = "list">
                    <thead>
                        <th>No.</th>
                        <th>Item</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Location</th>
                        <th>Accept/Decline</th>
                        <th>Details</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>01-09-2018</td>
                            <td>pending</td>
                            <td>UgX 20000</td>
                            <td>Entebbe</td>
                            <td>
                                <a href="#" id = "accept">Accept</a>
                                <a href="#" id = "decline">Decline</a>
                            </td>
                            <td>
                                    <a href="#" onclick = "document.getElementById('detail').style.display = 'block'">View</a>
                                </td>
                            
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>01-09-2018</td>
                            <td>pending</td>
                            <td>UgX 20000</td>
                            <td>Entebbe</td>
                            <td>
                                <a href="#" id = "accept">Accept</a>
                                <a href="#" id = "decline">Decline</a>
                            </td>
                            <td>
                                    <a href="#" onclick = "document.getElementById('detail').style.display = 'block'">View</a>
                                </td>
                            
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>01-09-2018</td>
                            <td>pending</td>
                            <td>UgX 20000</td>
                            <td>Entebbe</td>
                            <td>
                                <a href="#" id = "accept">Accept</a>
                                <a href="#" id = "decline">Decline</a>
                            </td>
                            <td>
                                    <a href="#" onclick = "document.getElementById('detail').style.display = 'block'">View</a>
                                </td>
                            
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>01-09-2018</td>
                            <td>pending</td>
                            <td>UgX 20000</td>
                            <td>Entebbe</td>
                            <td>
                                <a href="#" id = "accept">Accept</a>
                                <a href="#" id = "decline">Decline</a>
                            </td>-->
                             <!-- <td>
                                    <a href="#" onclick = "document.getElementById('detail').style.display = 'block'">View</a>
                                </td> -->
                            
                        <!-- </tr>

                        <tr>
                                <td>2</td>
                                <td>Fish</td>
                                <td>01-09-2018</td>
                                <td>completed</td>
                                <td>UgX 10000</td>
                                <td>Entebbe</td>
                                <td>
                                    <a href="#" id = "accept">Accept</a>
                                    <a href="#" id = "decline">Decline</a>
                                </td>
                                <td>
                                    <a href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                    <td>3</td>
                                    <td>Rolex</td>
                                    <td>01-09-2018</td>
                                    <td>pending</td>
                                    <td>UgX 2000</td>
                                    <td>Entebbe</td>
                                    <td>
                                        <a href="#" id = "accept">Accept</a>
                                        <a href="#" id = "decline">Decline</a>
                                    </td>
                                    <td>
                                            <a href="#">View</a>
                                        </td>                                  
                                </tr>
                    </tbody>
                </table>   -->

                </div>
                <!-- <script src="../static/js/order.js"></script>  -->
                <script src="../static/js/edit.js"></script>  
               
 
 

</body>
</html>