<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href = "../static/css/login.css" rel = "stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class = "frm">
			<form id="signnup" method="post" >
					<h2>Please Signup</h2>			
				<label for = "username">Username</label>
                <input type = "text" name = "username" id = "username" value = "" required /><br />
 
                <!-- <label for = "email">email</label>
                <input type = "email" name = "email" id = "email" value = "" required /><br /> -->
                
                <label for = "password">Password</label>
				<input type = "password" name = "password" id = "password" value = "" minlength="8" required />

				<label for = "confirm">Confirm Passsword</label>
				<!-- <input type = "password" name = "confirm" id = "confirm" value = "" /><br /> -->
				<button type = "submit" class = "btn" name = "submit" value = "signup">sign up</button>
				
			</form>
		</div>
	</div>
	<script src = "../static/js/signup.js"></script>
</body>
</html>
